body {
	font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #0F79FB;
}

.containter {
	max-width: 376px;
	height: 100vh;
	position: relative;
  margin: 0px auto;
  padding: 26px;
}

header {
	margin-bottom: 40px;
}

header p {
  margin-top: 10px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1em;
  opacity: 0.90;
}

h1, h2 {
  font-size: 1.375em;  /*22px */
	font-weight: bold;
  line-height: 1.225em; /*26px*/
}

.from-text {
  display: inline-block;
  margin-bottom: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #0C65E4;
  color: rgba(255, 255, 255, 0.90);
  line-height: 1.250em;  /*20px*/
}

.send-response {
	display: flex;
  position: absolute;
  bottom: 0px;
}

input[type=text] {
  padding: 1px 0 6px 0px;
  text-indent: 16px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  line-height: 1em;
}

::placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.35);
  line-height: 1em;
}

button {
  padding: 8px 12px;
	margin-left: 13px;
  border: none;
  border-radius: 4px;
  background-color: #0C65E4;
  font-size: 1em;
  font-weight: 300;
  line-height: 1em;
  color: #FFFFFF;  /*set color on button rather than on body or containter to prevent weird things from happening */
}
